<!DOCTYPE html>
<html>
  <head>
    <title>Lab4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <% if flash[:error] %>
        <div id="error">
          <%= flash[:error] %>
        </div>
      <% end %>
      <div id="container">
      <div id="user_status">
        <% if user_signed_in? %>
            Welcome
            <%= current_user.email %>! Not you?
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            or
            <%= link_to "Sign in", new_user_session_path %>.
        <% end %>
      </div>
      <br/>
      <%= yield %>
      </div>
  </body>
</html>
