<h1>AjaxTest#myaction</h1>
<p>Find me in app/views/ajax_test/myaction.html.erb</p>

<p><a href="javascript:void(0)" onclick="alert('Hello!');">Inline alert()</a></p>

<p><a href="javascript:void(0)" onclick="customAlert();">Alert() function</a></p>
<script type="text/javascript">
  function customAlert() {
    alert('Hello from a custom function.');
  }
</script>

<p><a href="javascript:void(0)" onclick="serverSideAlert();">Server Side Alert()</a></p>
<script type="text/javascript">

    //XMLHttp style
//  function serverSideAlert() {
//    var request = new XMLHttpRequest();
//    request.open('get','/ajax_test/myresponse',false);
//    request.send(null);
//    alert(request.responseText);
//  }

    //jQuery HTTP GET style
//  function serverSideAlert() {
//    $.get("/ajax_test/myresponse", null, function(text) {
//      alert(text);
//    });
//  }

    //jQuery HTTP POST style
//    function serverSideAlert() {
//      $.get("/ajax_test/myresponse", null, function(text) {
////        $('#response').html(text);
//        $('#response').append(text);
//      });
//    }
</script>

<%= link_to "Inline alert", :url => { :action => :myresponse },
            :remote => true %>
